.App {
  text-align: center;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.card {
  position: relative;
  background: linear-gradient(135deg, #d7722c, #d7402c);
  text-align: center;
  padding: 40px 80px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.15);
}

p {
  color: white;
}

.circle1,
.circle2 {
  position: absolute;
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.circle1 {
  left: -25px;
}

.circle2 {
  right: -25px;
}

.buttonfont {
  font-size: xx-large;
}
